<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit <b><u>{{ restaurant.name }}</u></b> info <i class="fa-solid fa-gear"></i></h5>
          <hr>
          <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="row mb-3 g-2">
              <label for="name" class="col-md-4 col-form-label">
                Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name" placeholder="Restaurant name" class="form-control" id="name" value="{{ restaurant.name }}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's name.
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="name-en" class="col-md-4 col-form-label">
                English name
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" placeholder="English name" class="form-control" value="{{ restaurant.name_en }}" id="name-en" >
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="category" class="col-md-4 col-form-label">
                Category
              </label>
              <div class="col-md-8">
                <input list="categories" name="category" placeholder="Category" class="form-control" value="{{ restaurant.category }}" id="category"
                  required>
                <datalist id="categories">
                  <option>中東料理</option>
                  <option>義式餐廳</option>
                  <option>酒吧</option>
                  <option>日本料理</option>
                  <option>美式</option>
                  <option>咖啡</option>
                </datalist>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose one category or type new one
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="image" class="col-md-4 col-form-label">
                Image
              </label>
              <div class="col-md-8">
                <input type="text" name="image" placeholder="Image URL" class="form-control" value="{{ restaurant.image }}" id="image" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's image URL
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="location" class="col-md-4 col-form-label">
                Location
              </label>
              <div class="col-md-8">
                <input type="text" name="location" placeholder="Restaurant's address" class="form-control" value="{{ restaurant.location }}" id="location"
                  required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's address
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="phone" class="col-md-4 col-form-label">
                Phone
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" placeholder="Restaurant's phone number" class="form-control" value="{{ restaurant.phone }}" id="phone"
                  required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's number
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="google_map" class="col-md-4 col-form-label">
                Google map
              </label>
              <div class="col-md-8">
                <input type="text" name="google_map" placeholder="Restaurant's google map URL" class="form-control" value="{{ restaurant.google_map }}"
                  id="google_map" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's google map url
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="rating" class="col-md-4 col-form-label">
                Rating
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" placeholder="Rate your score between 0.0 ~ 5.0" value="{{ restaurant.rating }}" id="rating" step="0.1" min="0.0" max="5.0" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please score the point
                </div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="description" class="col-md-4 col-form-label">
                Description
              </label>
              <div class="col-md-8">
                <textarea id="description" name="description" placeholder="Type your description" class="form-control" rows="3" cols="66" required>{{ restaurant.description }}
                </textarea>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please type restaurant's description
                </div>
              </div>
            </div>

            <button class="btn btn-success" type="submit">Done</button>
            <button class="btn btn-primary"><a href="/" style="color:white; text-decoration: none">Back</a></button>
          </form>
        </div>

        <small class="card-footer text-muted text-end">
          Idea is inspired by Alpha Camp
        </small>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            form.classList.add('was-validated')
          }         
        }, false)
      })
  })()
</script>